
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>HuffPost Scraper</h1>
    <p>Scraping the latest news articles from the HuffPost</p>
  </div>
</div>
<div class="container-fluid article-container">
  <div data-_id="5ee54b45f6d9d500152c238f" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/06/12/well/live/Coronavirus-aerosols-linsey-marr.html">The Scientist, the Air and the Virus</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Most of us had never heard of aerosol science before the pandemic. Then Virginia Tech’s Linsey Marr became our guide to the world of airborne particles.</div>
  </div>
    <div data-_id="5ee54b45f6d9d500152c238d" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/interactive/2020/06/12/opinion/coronavirus-doctors.html">‘This Is Not the Flu’: What Doctors Say About Their Fight Against Coronavirus</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Since March, 40 physicians have created a record of a pandemic in which &quot;grief was the overwhelming theme.&quot;</div>
  </div>
    <div data-_id="5ee54b45f6d9d500152c238c" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/06/12/briefing/11-of-our-best-weekend-reads.html">11 of Our Best Weekend ReadsDid you follow the headlines this week? Take our quiz to find out.</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Who was George Floyd? A Mississippi town comes together. Bob Dylan speaks. Donna Tartt writes on Charles Portis. And more.</div>
  </div>
    <div data-_id="5ee54b45f6d9d500152c238b" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/06/13/us/politics/joe-biden-vice-president.html">Biden’s Vice-Presidential Search: Who’s on the List and Where It StandsG.O.P. Congressman Faces Primary After Officiating Same-Sex WeddingSenator Cory Booker discussed police mistreatment of black Americans in a Q. and A. with The Times.</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Joe Biden’s search committee is conducting interviews and seeking documents, and prospects like Val Demings and Keisha Lance Bottoms are getting a closer look.Representative Denver Riggleman could lose his bid for re-election in an unusual drive-through primary held at a Virginia church on Saturday.</div>
  </div>
    <div data-_id="5ee54b45f6d9d500152c238a" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/06/13/world/europe/coronavirus-russia-communal.html">Self-Isolating at Home in Russia, With 20 OthersThe Economy Is Reeling. The Tech Giants Spy Opportunity.</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">It is about as unpleasant as it would seem. Along with the virus, “a silent paranoia” spreads.Many companies are retreating. But Amazon, Apple, Facebook, Google and Microsoft are placing bets to get even bigger.</div>
  </div>
    <div data-_id="5ee54b45f6d9d500152c2389" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/06/13/world/coronavirus-updates.html">Brazil’s Virus Death Toll Surpasses Britain’s to Become World’s 2nd Highest</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">United States »  2,074,464  total casesBrazil »  828,810  India »  308,993  U.K. »  294,375  Mexico »  139,196  Canada »  97,943  See all new cases around the worldSearch any U.S. county</div>
  </div>
    <div data-_id="5ee54b45f6d9d500152c2388" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/06/13/us/unrest-ferguson-police-reform.html">Rage and Promises Followed Ferguson Killing, but Little Changed</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Millions of dollars were spent to alter policing after the death of Michael Brown in Ferguson, Mo., in 2014, with little result. Will it be different now?</div>
  </div>
    <div data-_id="5ee54b45f6d9d500152c2387" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/06/13/world/europe/george-floyd-protests-police.html">Far-Right Groups Push Back as Protesters Rally in EuropeRage and Promises Followed Ferguson Killing, but Little ChangedTrump Speaks at West Point Graduation Amid Tensions With Military Leaders</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Thousands demonstrated in Britain and France, capping a week of protests punctuated by damage to colonial statues and increased calls for reckonings over Europe’s imperial past.Millions of dollars were spent to alter policing after the death of Michael Brown in Ferguson, Mo., in 2014, with little result. Will it be different now?The president said nothing about his clash with the Pentagon over sending active-duty troops to put down demonstrations protesting the death of George Floyd.</div>
  </div>
    <div data-_id="5ee54b45f6d9d500152c2386" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/06/13/us/george-floyd-racism-america.html">Calls for Racial Justice Touch Seemingly Every Aspect of American LifeAtlanta Police Shooting Prompts New OutrageHow Black Lives Matter Reached Every Corner of America</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Rayshard Brooks, 27, struggled with police officers after failing a sobriety test, the authorities said, then was fatally shot. Here’s the latest.George Floyd’s death has sparked more than two weeks of protests in all 50 states. See how the movement spread.</div>
  </div>
   </div>
